* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-input: #f8f8f8;
  --border-color: rgb(230, 204, 204);
  --white: #ffffff;
  --bg-button: #afddd1;
  --bg-button-hover: #a2d3c6;
  --bg-sidebar: #1c1e22;

  --font-16-18: clamp(1rem, 1vw + 0.5rem, 1.125rem);
  --font-22-24: clamp(1.375rem, 1vw + 0.75rem, 1.5rem);

  --spacing-4: 0.25rem;
  --spacing-6-8: clamp(0.375rem, 0.5vw + 0.375rem, 0.5rem);
  --spacing-10-12: clamp(0.625rem, 0.75vw + 0.625rem, 0.75rem);
  --spacing-14-16: clamp(0.825rem, 1vw + 0.825rem, 1rem);
  --spacing-inline-container: clamp(1rem, 2vw + 4rem, 8rem);
  --spacing-block-container: clamp(1rem, 1vw + 1rem, 2rem);

  --br-4: 0.25rem;

  --gap-2-6: clamp(0.125rem, 0.5vw + 0.25rem, 0.625rem);
  --gap-8: 0.5rem;
  --gap-12: 0.75rem;

  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;
  --main-color: #14805e;
  --text-color: #444444;
  --footer-bg: #f0f0f0;
}

html {
  background-color: #f1f1f1;
  color: #000000dd;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI,
    Tahoma, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Open Sans, sans-serif;
}

body {
  background-color: #ffffff;
  color: var(--text-color);
}

.casino-container {
  width: min(90%, 45rem);
  margin-inline: auto;
}

.button {
  --text-color: #505050;
  margin-top: var(--spacing-xl);
  padding: var(--spacing-md) var(--spacing-xl);
  border-radius: var(--spacing-sm);
  border: 1px solid var(--text-color);
  outline: none;
  font-size: 1.0625rem;
  text-align: center;
  color: var(--text-color);
}

.section-main {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  font-family: "Verdana", "Geneva", "Arial", sans-serif;
}

.casino-header {
  padding-top: 5rem !important;
  width: 100%;
  background-color: var(--main-color);
  padding-block: var(--spacing-md);
  --text-color: #ffffffcc;
  color: var(--text-color);
  font-family: "Verdana", "Geneva", "Arial", sans-serif;

  .casino-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search-icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--text-color);
    }
  }
}

.body {
  font-family: "Verdana", "Geneva", "Arial", sans-serif;
  margin-bottom: 3rem;

  .body-header {
    --text-color: #888888;
    padding-block: var(--spacing-md);
    border-bottom: 1px solid var(--text-color);
    font-size: var(--spacing-xl);
  }

  .contact-body-content {
    margin-top: var(--spacing-xl);

    .country-select {
      display: flex;
      gap: var(--spacing-sm);
      align-items: center;

      .country-label {
        display: inline-block;

        svg {
          width: 1.5rem;
          height: 1.5rem;
          fill: var(--white);
        }
      }
      #country {
        padding: var(--spacing-md) var(--spacing-xl);
        font-size: var(--spacing-xl);
        width: 25rem;
        border: none;
        border: 1px solid var(--text-color);
        border-radius: var(--spacing-sm);
        background-color: #24262b;
        color: var(--white);
      }
    }

    .contact-option {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      margin-top: 1.5rem;
      gap: var(--spacing-xl);

      ul {
        list-style-type: none;
      }

      .part {
        font-size: 1.0625rem;
        display: grid;
        grid-template-rows: auto 1fr auto;
        h3 {
          padding-bottom: var(--spacing-md);
        }
        button {
          margin-top: var(--spacing-xl);
          padding: var(--spacing-md) var(--spacing-xl);
          border-radius: var(--spacing-sm);
          border: 1px solid var(--text-color);
          outline: none;
          font-size: 1.0625rem;
        }
      }
    }
  }

  .privacy-body-content {
    margin-top: var(--spacing-xl);

    h3 {
      padding-block: var(--spacing-lg) var(--spacing-sm);
      font-size: 1.125rem;
    }
    h4 {
      padding-block: var(--spacing-lg) var(--spacing-sm);
      font-size: 1.1rem;
    }

    p {
      --text-color: #6d6d6d;
      color: var(--text-color);
      padding-block: var(--spacing-sm);
      font-size: 0.95rem;
    }

    ul {
      padding-left: var(--spacing-xl);
      --text-color: #6d6d6d;
      color: var(--text-color);
    }

    img {
      display: block;
      margin-inline: auto;
    }
    .button {
      --spacing-xl: 2rem;
    }
  }

  .faq-body-content {
    margin-top: var(--spacing-xl);

    ul {
      padding-left: var(--spacing-xl);
      --text-color: #6d6d6d;
      color: var(--text-color);
    }

    h3 {
      padding-block: var(--spacing-lg) var(--spacing-sm);
      font-size: 1.125rem;
    }
    p {
      --text-color: #6d6d6d;
      color: var(--text-color);
      padding-block: var(--spacing-sm);
      font-size: 0.95rem;
    }
    .button {
      --spacing-xl: 2rem;
    }
    details {
      position: relative;
      margin-bottom: var(--spacing-sm);

      &::after {
        content: "⮟";
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        transition: transform 0.3s ease-in-out;
        transform-origin: center;
      }
      &[open]::after {
        transform: rotate(180deg);
      }
      summary {
        --text-color: #888888;
        padding-block: var(--spacing-lg);
        border-bottom: 1px solid var(--text-color);
        list-style-type: none;
      }

      .data {
        padding-block: var(--spacing-sm) var(--spacing-lg);

        table {
          --text-color: #6d6d6d;
          border: 1px solid var(--text-color);
          margin-block: var(--spacing-lg);

          a {
            --text-color: #505050;
            color: var(--text-color);
          }
          th {
            padding-block: var(--spacing-lg);
          }
          td {
            padding: var(--spacing-sm) var(--spacing-md);
          }

          th,
          td {
            border: 1px solid var(--text-color);
            --text-color: #6d6d6d;
            color: var(--text-color);
          }
          th:nth-child(1) {
            text-wrap: nowrap;
          }
        }

        .center-data {
          & td:not(:nth-child(1)) {
            text-align: center;
          }
        }
      }
    }
  }

  /* Payment section */

  #deposits-label:checked ~ .payment-body-content .switcher .deposits-tab {
    border-bottom: 2px solid var(--text-color);
    font-weight: 700;
  }
  #withdrawals-label:checked
    ~ .payment-body-content .switcher .withdrawals-tab {
    border-bottom: 2px solid var(--text-color);
    font-weight: 700;
  }

  #deposits-label:checked ~ .payment-body-content .deposits-tab-content {
    display: block;
  }
  #withdrawals-label:checked ~ .payment-body-content .withdrawals-tab-content {
    display: block;
  }
  .payment-body-content {
    .switcher {
      display: flex;
      align-items: center;
      gap: var(--spacing-xl);
      --text-color: #888888;
      border-bottom: 1px solid var(--text-color);

      label {
        padding-block: var(--spacing-lg);
      }
    }

    .tab-content {
      display: none;

      .select-option {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: 2rem;
        margin-top: 2rem;

        .option {
          width: 100%;

          label {
            display: flex;
            gap: var(--spacing-md);
            margin-bottom: var(--spacing-md);

            svg {
              width: 1.25rem;
              height: 1.25rem;
              fill: var(--text-color);
            }
          }
          select {
            width: 100%;
            padding: var(--spacing-md) var(--spacing-xl);
            font-size: var(--spacing-xl);
            color: var(--text-color);
          }
        }
      }

      .table-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-md);
        padding-block: var(--spacing-xl) var(--spacing-sm);
        padding-right: 4rem;
        text-wrap: nowrap;
        border-bottom: 1px solid var(--text-color);

        & p:nth-child(2) {
          margin-left: -0.5rem;
        }
        & p:nth-child(3) {
          margin-left: -0.5rem;
        }
        & p:nth-child(4) {
          margin-left: -0.5rem;
        }
      }
      .table-content {
        position: relative;
        margin-bottom: var(--spacing-sm);

        & summary::after {
          content: "⮟";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0.5rem;
          transition: transform 0.3s ease-in-out;
          transform-origin: center center;
        }
        &[open] summary::after {
          transform: translateY(-50%) rotate(180deg);
        }
        summary {
          position: relative;
          --text-color: #888888;
          padding-block: var(--spacing-sm) var(--spacing-lg);
          padding-right: 2rem;
          border-bottom: 1px solid var(--text-color);
          list-style-type: none;
          display: flex;
          align-items: center;

          .table-middle {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-left: 6rem;

            & p:nth-child(2) {
              padding-left: 2rem;
            }
            & p:nth-child(3) {
              padding-left: 2.5rem;
            }
            & p:nth-child(4) {
              padding-left: -1rem;
            }
          }

          .table-last-item {
            width: 7rem;
            margin-left: 1rem;
          }
        }

        .table-middle-middle {
          display: flex;
          align-items: center;
          gap: var(--spacing-xl);
          padding-top: var(--spacing-md);
          padding-left: var(--spacing-xl);

          p {
            padding: var(--spacing-sm);
          }
        }
      }
    }
  }
}

@media (width < 700px) {
  .table-head {
    & p:nth-child(2),
    p:nth-child(3),
    p:nth-child(4),
    p:nth-child(5) {
      display: none;
    }
  }

  & summary {
    justify-content: space-between !important;

    .table-middle {
      p:nth-child(1),
      & p:nth-child(2),
      p:nth-child(3),
      p:nth-child(4) {
        display: none;
      }
    }

    .table-last-item {
      width: 100% !important;
      margin-left: 0 !important;
    }
  }
}

.footer-options-footer {
  background-color: var(--footer-bg);
  margin-block: 3rem 5rem;
  font-family: Arial, Helvetica, sans-serif;

  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  .empty-div {
    height: 1.125rem;
    border-bottom: 1px solid #999999;
  }

  .footer-options {
    .footer-nav-items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-lg);
      padding: var(--spacing-xl);
      font-size: 0.9rem;
      font-family: Arial, Helvetica, sans-serif;
      line-height: var(--spacing-lg);
    }

    img {
      width: 6rem;
      margin-inline: auto;
      display: block;
      margin-bottom: var(--spacing-xl);
    }

    .footer-rights {
      margin-block: var(--spacing-xl);
      text-align: center;
    }
  }
}

label {
  display: block;
  padding-block: var(--spacing-4);
}

input {
  width: 100%;
  margin-bottom: var(--spacing-4);
  padding: var(--spacing-10-12) var(--spacing-14-16);
  border-radius: var(--br-4);
  background-color: var(--bg-input);
  outline: none;
  border: 1px solid var(--border-color);
  font-size: 1rem;
}

.button {
  padding: var(--spacing-10-12) var(--spacing-14-16);
  border: 1px solid black;
  border-radius: var(--br-4);
  background-color: transparent;
  font-size: 1rem;
  color: #000000dd;
  font-weight: 600;
}

/* .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border: 1px solid blue;

  .profile {
    position: relative;

    .profile-icon {
      background-color: blue;
      color: white;
      padding: 1rem 1.25rem;
      border-radius: 50%;
    }

   
  }
} */
 
#profile-side-bar {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI,
    Tahoma, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Open Sans, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  padding: var(--spacing-10-12);
  border-radius: 0.25rem;
  position: fixed;
  z-index: 50;
  top: 4rem;
  left: calc(100vw - 26rem);
  width: 25.75rem;
  max-height: calc(-4rem + 100vh);
  border: none;
  outline: none;

  & .profile-close{
    display: none;
  }

  & button.overlay {
    position: fixed;
    z-index: -1;
    inset: 0;
    background-color: #000000a4 ;
    background-image: none;
    mix-blend-mode: lighten;
    width: 100%;
    height: 100%;
  }

  p {
    font-size: var(--font-16-18);
  }

  & .profile-data-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-6-8);

    & .profile-data-top-left {
      line-height: 0;
      text-align: start;

      & .profile-data-top-left-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--gap-2-6);

        & .profile-data-top-amount {
          font-size: 1.5rem;
          font-weight: 700;
        }

        .profile-data-refresh-icon {
          svg {
            width: 1.25rem;
            height: 1.25rem;
          }
        }
      }
    }

    & .profile-data-top-right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      font-size: var(--font-16-18);
      font-weight: 600;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  & .profile-data-top-bottom {
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, 4vw + 0.25rem, 8rem);
  }

  & .profile-tabs {
    margin-top: 1.25rem;

    & .tab-items {
      display: flex;
      align-items: center;
      gap: var(--gap-2-6);
      border-top: 1px solid wheat;

      & label {
        font-size: var(--font-16-18);
        font-weight: 600;
        padding: var(--spacing-14-16) var(--spacing-14-16);
      }
    }

    #profile-tab-account:checked ~ .tab-items .tab-account {
      border-bottom: 1px solid blueviolet;
    }
    #profile-tab-offers:checked ~ .tab-items .tab-offers {
      border-bottom: 1px solid blueviolet;
    }
    #profile-tab-preferences:checked ~ .tab-items .tab-preferences {
      border-bottom: 1px solid blueviolet;
    }

    .tab-content {
      display: none;
      padding-block: var(--spacing-6-8) var(--spacing-10-12);
      text-align: start;
    }

    #profile-tab-account:checked ~ .profile-tab-content-account {
      display: block;

      .tab-content-cards {
        display: grid;
        place-items: center;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        border-bottom: 1px solid wheat;
        padding-bottom: var(--spacing-14-16);

        & .tab-content-card {
          text-align: center;

          svg {
            width: 2.5rem;
            height: 2.5rem;
          }

          h5 {
            font-size: var(--spacing-14-16);
          }
        }
      }

      h3 {
        padding: var(--spacing-6-8);
        font-size: 1.325rem;
        text-align: start;
        font-weight: 600;
      }
      & .logout {
        border-top: 1px solid wheat;
      }
    }

    #profile-tab-offers:checked ~ .profile-tab-content-offers {
      display: block;
      padding-inline: var(--spacing-6-8);

      h4 {
        padding-bottom: 0.25rem;
      }

      p {
        padding-block: 0.25rem;
      }
    }

    #profile-tab-preferences:checked ~ .profile-tab-content-preferences {
      display: block;

      details {
        position: relative;

        &::after {
          content: "ᨆ";
          position: absolute;
          top: 1rem;
          right: 0.5rem;
          transition: transform 0.3s ease-in-out;
          transform-origin: center center;
        }
        &[open]::after {
          transform: rotate(180deg);
        }
        summary {
          padding: var(--spacing-6-8) var(--spacing-10-12);
          border-block: 1px solid wheat;
          list-style-type: none;

          h4 {
            margin-top: 0.325rem;
          }
        }

        .data {
          display: grid;
          grid-template-columns: 1fr 1fr;

          li {
            padding: var(--spacing-6-8);
          }
        }
      }

      .toggle-label {
        padding: var(--spacing-6-8) var(--spacing-10-12);
        border-block: 1px solid wheat;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input[type="checkbox"] {
          display: none;
        }
      }

      .toggle-switch {
        position: relative;
        width: 40px;
        height: 20px;
        background: #ccc;
        border-radius: 20px;
        transition: background 0.3s;
      }

      .toggle-switch::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 16px;
        height: 16px;
        background: white;
        border-radius: 50%;
        transition: transform 0.3s;
      }

      .toggle-label input[type="checkbox"]:checked + .toggle-switch {
        background: blueviolet;
      }

      .toggle-label input[type="checkbox"]:checked + .toggle-switch::before {
        transform: translateX(20px);
      }
    }
  }

}


@media (width < 420px){
 
  #profile-side-bar{
    width: 100%;
    padding: 3rem 1rem 1rem;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--bg-sidebar);
    color: #ffffff !important;

   & button.overlay{
    background-color: #1c1e22;
      mix-blend-mode: normal;
    }

    .profile-data-refresh-icon {
      svg {
        width: 1.25rem;
        height: 1.25rem;
        fill: white;
      }
    }

    button.profile-close{
      display: block ;
      background-color: transparent ;
      background-image: none;
      position: absolute;
      top: 0.325rem;
      right: -1rem;

      svg{
        fill: white;
      }
    }
    .tab-content{

      .deposit-btn-offers{
        text-wrap: nowrap;
        width: auto;
        display: grid;
        place-content: center;
      }
    }
    .tab-content-card{
      color: white;

      svg.profile-icon .cls-1{
        fill: var(--white) !important;
      }

      svg{
        fill: var(--white);

        &:nth-child(3){
          fill: var(--white) !important;
        } 

        &:nth-child(5){
          fill: black;
          stroke: black !important;
        }
      }
      
      svg.history-icon{
        fill: white !important;
        stroke: white !important;
      }
      h5{
        color: #ffffff;
      }
    }
  }

}