:root {
  --card-width: 13rem;
  --card-height: 11rem;
  --aspect-ratio: 13/11;
  --gap: 0.75rem;
}

.promotion{
    --card-width: 21rem;
  --card-height: 12rem;
  --aspect-ratio: 21/12;
  --gap: 1rem;

  .card-lists-header{
    button{
        display: none;
    }
  }
}

.santa-list {
  --card-width: 16rem;
  --card-height: 11rem;
  --aspect-ratio: 16/11;
}

.twisterPoker {
  --card-width: 20rem;
  --card-height: 11rem;
  --aspect-ratio: 20/11;
  --gap: 1rem;

  .card-lists-header{
    button{
        display: none;
    }
  }
  
  .card-lists {
    .card-lists-cards {
      &:hover :is(.card-lists-prev, .card-lists-next) {
        display: none;
      }
    }
  }
}

.card-lists {
  width: 100%;
  padding: 1.5rem 1rem;

  .card-lists-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: var(--text-color);
      font-size: 1.5rem;
      font-family: FuturaPtDemi;
      font-weight: bolder;
    }
  } 

  .card-lists-cards {
    margin-block: 0.5rem;
    padding-inline: 1.5rem;
    position: relative;

    &:hover :is(.card-lists-prev, .card-lists-next) {
      display: grid;
    }

    .card-lists-prev,
    .card-lists-next {
      position: absolute;
      height: 100%;
      width: 2rem;
      top: 0;
      background-color: #00000094;
      backdrop-filter: blur(0.75rem);
      display: none;
      place-content: center;
      z-index: 5;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    .card-lists-prev {
      left: 0;
    }
    .card-lists-next {
      right: 0;
    }

    .card-lists-card {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%,var(--card-width)), 1fr)); 
      gap: var(--gap);
      align-items: center;
      justify-items: center;
      

      .card-list-card {
        /* width: var(--card-width); */
        height: var(--card-height);
        transition: transform 0.2s ease-in-out;
        position: relative;
        border-radius: 0.325rem;
        overflow: clip;
        display: grid;

        &:hover {
          transform: scale(1.075);
        }

        img {
          /* width: var(--card-width); */
          width: 100%;
          height: 100%;
          /* aspect-ratio: var(--aspect-ratio); */
          object-fit: cover;
          object-position: center;
          grid-column: 1/2;
          grid-row: 1/2;
        }

        .upperText {
          grid-column: 1/2;
          grid-row: 1/2;
          text-align: left;
          padding: 0.125rem 0.75rem;

          .upperSubtitle{
            font-size: 0.8rem;
            font-weight: 600;
          }

          .upperTitle{
            font-size: 1.25rem;
            font-weight: 700;
           font-family: FuturaPTCondBoldOblique, "FuturaPTWebBook", Futura, Arial, sans-serif;
            line-height: 1.625rem;
            padding-right: 3.5rem;
          }


        }

        .info {
          position: absolute;
          bottom: 0.75rem;
          right: 0.75rem;
          width: 1.5rem;
          height: 1.5rem;
          background-color: #ffffff;
          border-radius: 50%;
        }
      }

      /* .card-list-card:hover ~ .card-list-card {
        transform: translateX(0.25rem) scale(1.01);
      }

      .card-list-card:has(~ .card-list-card:hover) {
        transform: translateX(-0.25rem) scale(1.01);
      } */
    }
  }
}
