.sports-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding-bottom: 5rem;

    & .iframe{
       position: fixed;
       top: 4rem;
       right: 0;
       height: 100vh;

    }

} 

@media (width < 1040px){

    .sports-container{
        grid-template-columns: 1fr;

        .in-play{
            min-width: 10rem;
        }
        
        .iframe{
            display: none;
        }
    }

}